/* This file is for your main application css. */

*,*:after,*:before{box-sizing:inherit}html{box-sizing:border-box;font-size:62.5%}body{color:#000000;font-family:'Helvetica', 'Arial', sans-serif;font-size:1.6em;font-weight:300;line-height:1.6}

html {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100%;
    margin: 0;
}

/*
#app,
.page,
.container,
.switch-wrapper,
.players {
    height: 100vh;
} */

.match > .container {
    min-height: 250px;
    height: 75vh;
}

/* .page .container, */
.page .players {
    height: 100%;
}

.page .container {
    position: relative;
    overflow: hidden;
}

.switch-wrapper > div {
    width: 100%;
    overflow: hidden;
}

.players {
    display: flex;
}

.player {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: flex-end; */
    /* position: relative; */
}

.photo {
    width: 50%;
    height: 75%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -25%;

    filter: grayscale(90%);
    opacity: 0.3;
}

.score {
    font-family: 'Bowlby One SC', cursive;
    color: #fff;
    font-size: 6rem;
    font-weight: 500;
    margin: 1rem auto 0;
    flex: 1;
    display: flex;
    align-items: center;
}

.info {
    font-size: 2rem;
    color: #fff;
    padding: 2rem;
    display: flex;
    z-index: 10;
}

.info .player-name {
    flex: 1;
}

.info .serving {
    background: rgba(0,0,0,0.3);
    border-radius: 1rem;
    padding: 0 .5rem;
}

.intro {
    padding: 3rem;
    background: #2e2e2e;
    color: #fff;
    position: absolute;
    width: 200%;
    z-index: 10;
    text-align: center;
    font-size: 2.5rem;
    transform: rotate(-7.5deg) translate(0, -50%);
    left: -50%;
    top: 50%;
    margin-top: -2rem;
    display: none;
}

.who {
    padding: 3rem;
    background: #2e2e2e;
    color: #fff;
    position: absolute;
    width: 200%;
    z-index: 10;
    text-align: center;
    font-size: 2.5rem;
    transform: rotate(-7.5deg) translate(0, -50%);
    left: -50%;
    top: 50%;
    margin-top: -2rem;
    pointer-events: none;
    /* z-index: 15; */
    opacity: 0.95;
}

.won {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
}

.won .overlay {
    text-align: center;
    align-self: center;
    justify-self: center;
    flex: 1;
}

.won .overlay .won-by {
    font-family: 'Bowlby One SC', cursive;
    font-size: 2.5rem;
}

.won .overlay .won-by-name {
    font-size: 3rem;
}

.won .overlay .timeline-container {
    width: 75%;
    border-bottom: 2px solid #e3e3e3;
    margin: 2rem auto 0;
    position: relative;
}

.won .overlay .point {
    background: red;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    top: -4px;
    position: absolute;
}

.won .overlay .point.ping {
    /* background: #f953c6; */
    background: red;
}

.won .overlay .point.pong {
    /* background: #2193b0; */
    background: rgb(14, 100, 197);
}

.intro .text,
.who .text {
    transform: skew(-7.5deg);
}

.ping {
    position: relative;
    background: #f953c6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #b91d73, #f953c6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #b91d73, #f953c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.vs-ping {
    position: absolute;
    top: 0;
    right: -4px;
    bottom: -50px;
    transform: rotate(-10deg);
    width: 20%;
    overflow: hidden;
    z-index: 1;
    transition: all 3s;
}

.vs-ping::after {
    content: '';
    position: absolute;
    top: 0;
    right: -50%;
    bottom: 45px;
    left: -25px;
    background: #f953c6;
    background: -webkit-linear-gradient(to top, #b91d73, #f953c6);
    background: linear-gradient(to top, #b91d73, #f953c6);
    transform: rotate(10deg);
    z-index: 1;
    transition: all 3s;
}

.vs-ping-letter,
.vs-pong-letter {
    font-family: 'Bowlby One SC', cursive;
    font-size: 3rem;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    opacity: 1;
    transition: all 3s;
}

.vs-ping-letter {
    right: 3px;
}

.vs-pong-letter {
    left: 3px;
}

.ping .info {
    background: #910e56;
}

.pong {
    position: relative;
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.vs-pong {
    position: absolute;
    top: -50px;
    left: -4px;
    bottom: 0;
    transform: rotate(-10deg);
    width: 20%;
    overflow: hidden;
    z-index: 1;
    transition: all 2s;
}

.vs-pong::after {
    content: '';
    position: absolute;
    top: 45px;
    left: -50%;
    bottom: 0;
    right: -25px;
    background: #2193b0;
    background: -webkit-linear-gradient(to bottom, #6dd5ed, #2193b0);
    background: linear-gradient(to bottom, #6dd5ed, #2193b0);
    transform: rotate(10deg);
    z-index: 1;
    transition: all 2s;
}

.pong .info {
    background: #0d6e86;
}

.countdown {
    position: absolute;
    z-index: 100;
    font-family: 'Bowlby One SC', cursive;
    font-size: 6rem;
    color: #fff;
    top: 50%;
    left: 50%;
    margin-top: 3rem;
    transform: translate(-50%);
}

.players.has-players .vs-ping,
.players.has-players .vs-ping::after,
.players.has-players .vs-pong,
.players.has-players .vs-pong::after {
    transform: rotate(0deg);
}

.players.has-players .vs-ping {
    right: 0;
}

.players.has-players .vs-pong {
    left: 0;
}

.players.has-players .vs-ping-letter,
.players.has-players .vs-pong-letter {
    opacity: 0;
}

.info-big {
    font-family: 'Bowlby One SC', cursive;
    color: #fff;
    font-size: 4.5rem;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.switch-wrapper {
    position: relative;
}

.switch-wrapper > div {
    position: absolute;
}

.scaled {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
    pointer-events: none;
    z-index: 20;
}

.scaled > div {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

.highscore,
.information {
    background: #2e2e2e;
    color: #fff;
    padding: 2rem;
}

.highscore .title {
    font-family: 'Bowlby One SC', cursive;
    color: #fff;
    font-size: 2.5rem;
}

/* Nice fix */
body {
    display: flex;
}

#app {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.page {
    min-height: 100vh;
}

.page > .match {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.page > .match > .information {
    font-size: 1.7rem;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container.won,
.container.welcome {
    height: 100%;
}

.container.welcome {
    background: #E0EAFC;
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);
    background: linear-gradient(to right, #CFDEF3, #E0EAFC);
}

.container.won .countdown {
    color: rgb(43, 43, 43);
    margin-top: 7.5rem;
}

.highscore {
    flex: 1;
}
